* {
  box-sizing: border-box;
}

body {
  background-color: black;
  /* display: c; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.main {
  margin: auto;
  margin-top: 20px;
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 900px;
  height: 600px;
  border-radius: 20px;

  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

} 

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__button {
  margin: 5px;
  background-color: palegoldenrod;
  border-radius: 20%;
  border: 3px solid black;
  text-align: center;
}


.button {  
  width: 48px;
  height: 48px;
  font-size: 28px;
  background-color: transparent;
  border: none;
}

.btn-stop {
  /* background-image: url("/img/stop-solid.png"); */
  /* background-color: chocolate; */
}

.btn-start {
  /* background-image: url("/img/play-solid.png"); */
  /* background-color: cornflowerblue; */
}

#btn-img {
  width: 28px;
}

.header__timer {
  margin: 5px;
  height: 40px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;

  text-align: center;
  font-size: 30px;
}

.header__count {
  background-color: coral ;
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 50px;
}

.content {
  width: 100%;
  height: 300px;
  /* border: 1px solid black; */
}

.bug, 
.carrot {
  visibility: hidden;
}

